<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>$title$</title>
  <link rel="icon" type="image/svg+xml" sizes="512x512" href="/images/favicon.svg">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  $if(style)$
  <style>
    $style$
  </style>
  $endif$

</head>

<body>
  <nav class="sidebar">
    <ul>
      <li>
        <h3><b>Herdi</b></h3>
      </li>
      <li><a href="/">about</a></li>
      <li><a href="/projects.html">projects</a></li>
      <li><a href="/posts.html">posts</a></li>
    </ul>
  </nav>
  <article>
    $body$
  </article>
</body>

</html>
